# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# Example ORP environment file.
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# Django Settings
ALLOWED_HOSTS=localhost
DEBUG=True
DJANGO_ADMIN=True
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=orp-secret

# Database Settings
DATABASE_URL=postgres://postgres:postgres@db:5432/orp  # pragma: allowlist secret
DB_MAX_CONNS=1
POSTGRES_HOST_AUTH_METHOD=trust

# Google analytics
GOOGLE_ANALYTICS_TAG_MANAGER_ID=XXX-XXXXXXX  # Check passman or ask a colleague
