# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# Example ORP environment file.
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# Django Settings
ALLOWED_HOSTS=localhost
DEBUG=True
DJANGO_ADMIN=False
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=orp-secret
