.report-hr {
    display: block;
    background: #bfc1c3;
    border: 0;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
  }

.report-h1 {
    margin-bottom: 5px;
}

.report-h4 {
    margin-bottom: 5px;
}

.report-hint {
    margin-top: 5px;
}
