{% extends "base.html" %}

{% block head_title %}{{service_name}}{% endblock %}
{% block service_name %}{{service_name}}{% endblock %}

{% block body_content %}
<div class="govuk-width-container">
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Search results</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">SR2015 No 39: use of waste in a deposit for recovery operations</a>
      </li>
    </ol>
  </nav>
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">SR2015 No 39: use of waste in a deposit for recovery operations</h1>
      </div>
    </div>
    <div class="govuk-grid-row govuk-body">
      <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body">
          These standard rules allow you to store and use waste in a deposit for recovery activities involving
          construction, reclamation, restoration or improvement of land other than by mobile plant.
        </p>
        <p class="govuk-body">
          These standard rules are for the recovery of waste only and do not apply to any activities involving disposal.
        </p>
        <h2 class="govuk-heading-m">Document details</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Link to document on publisher’s website
            </dt>
            <dd class="govuk-summary-list__value">
              <a class="govuk-link" href="#">SR2015 No 39: use of waste in a deposit for recovery operations</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Document type
            </dt>
            <dd class="govuk-summary-list__value">
              Guidance
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date published
            </dt>
            <dd class="govuk-summary-list__value">
              2 February 2016
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last updated
            </dt>
            <dd class="govuk-summary-list__value">
              3 April 2019
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Published by
            </dt>
            <dd class="govuk-summary-list__value">
              Environment Agency
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">Related content on legislation.gov.uk</h2>
        <p class="govuk-body">
          <a class="govuk-link" href="#">Wildlife and Countryside Act 1981</a>
        </p>
        <p class="govuk-body">
          <a class="govuk-link" href="#">Countryside and Rights of Way Act 2000</a>
        </p>

        <h2 class="govuk-heading-m">Regulatory topics</h2>
        <ul class="govuk-list orp-topics-list">
          <li class="govuk-body-s orp-secondary-text-colour">
            Waste
          </li>
          <li class="govuk-body-s orp-secondary-text-colour">
            Recycling
          </li>
        </ul>

      </div>
    </div>
  </main>
</div>
{% endblock %}
