{% extends "base.html" %}

{% block head_title %}{{service_name}} - {{ result.title }}{% endblock %}
{% block service_name %}{{service_name}}{% endblock %}

{% block body_content %}
<div class="govuk-width-container">
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ request.META.HTTP_REFERER }}">Search results</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        {{ result.title }}
      </li>
    </ol>
  </nav>
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">{{ result.type }}</span>
        <h1 class="govuk-heading-xl">{{ result.title }}</h1>
      </div>
    </div>
    <div class="govuk-grid-row govuk-body">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          {{ result.description }}
        </p>
        <h2 class="govuk-heading-m">Document details</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Link to document on publisher's website
            </dt>
            <dd class="govuk-summary-list__value">
              <a class="govuk-link" href="{{ result.identifier }}">{{ result.title }}</a> from {{ result.publisher }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Document type
            </dt>
            <dd class="govuk-summary-list__value">
              {{ result.type }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date published
            </dt>
            <dd class="govuk-summary-list__value">
              {{ result.date_issued | date:"j F Y" }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last updated
            </dt>
            <dd class="govuk-summary-list__value">
              {{ result.date_modified | date:"j F Y" }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Published by
            </dt>
            <dd class="govuk-summary-list__value">
              {{ result.publisher }}
            </dd>
          </div>
        </dl>

        {% if 'nan' not in result.related_legislation %}
          <h2 class="govuk-heading-m">Related content on legislation.gov.uk</h2>
          <!--
          The design shows these links as document titles which we don't have.
          We'd need to look up each one using the legislation.gov.uk API
          -->
          <div class="govuk-!-margin-bottom-6">
            {% for legislation in result.related_legislation %}
            <p class="govuk-body govuk-!-margin-bottom-2">
              <a class="govuk-link" href="{{legislation}}">{{ legislation }}</a>
            </p>
            {% endfor %}
          </div>
        {% endif %}

        <h2 class="govuk-heading-m">Regulatory topics</h2>
        <ul class="govuk-list orp-topics-list">
          {% for topic in result.regulatory_topics %}
          <li class="govuk-body-s orp-secondary-text-colour">{{ topic }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </main>
</div>
{% endblock %}
