{% extends "base.html" %}
{% load service_problem_tags %}
{% block head_title %}{{service_name}}{% endblock %}
{% block service_name %}{{service_name}}{% endblock %}
{% block body_content %}
<div class="govuk-!-padding-top-4"></div>
<div class="govuk-width-container">
  {% if request_exception %}
  {% render_service_problem %}
  {% else %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Search for regulatory provisions</h1>
      <form method="get" class="search-form">
        <div class="govuk-form-group {% if form.query.errors %}govuk-form-group--error{% endif %} search-group">
          <label class="govuk-label govuk-!-font-size-24 govuk-!-margin-bottom-7" for="{{ form.query.id_for_label }}">
            {{ form.query.label }}
          </label>
          <div class="search-input-button">
            {{ form.query }}
            <button type="submit" class="search__button"></button>
          </div>
        </div>
      </form>

      {% if truncated %}
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          Some matches may be missing. Try a more specific search term.
        </strong>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <a href="#" class="govuk-link
      ">Clear all filters</a>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body-m govuk-!-font-weight-bold">7,870 results</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-float-right">Download search results as CSV
        file</a>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <form method="get" class="search-form">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-form-group {% if form.company_number.errors %}govuk-form-group--error{% endif %}">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Document type
                </h2>
              </legend>
              <div id="document_type-hint" class="govuk-hint govuk-!-font-size-14">
                1 selected
              </div>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="document_type" name="document_type" type="checkbox"
                    value="employment-tribunal">
                  <label class="govuk-label govuk-checkboxes__label" for="document_type">
                    Legislation
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="document_type-2" name="document_type" type="checkbox"
                    value="MOD">
                  <label class="govuk-label govuk-checkboxes__label" for="document_type-2">
                    Guidance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="document_type-3" name="document_type" type="checkbox"
                    value="DfT">
                  <label class="govuk-label govuk-checkboxes__label" for="document_type-3">
                    Statutory guidance
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-form-group">
          <h2 class="govuk-heading-m">
            Updated
          </h2>
          <fieldset class="govuk-fieldset" role="group" aria-describedby="updated-after-hint">
            <legend class="govuk-fieldset__legend">
              Updated after
            </legend>
            <div id="updated-after-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>
            <div class="govuk-date-input" id="updated-after">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="updated-after-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="updated-after-day"
                    name="updated-after-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="updated-after-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="updated-after-month"
                    name="updated-after-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="updated-after-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="updated-after-year"
                    name="updated-after-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="updated-before-hint">
            <legend class="govuk-fieldset__legend">
              Updated before
            </legend>
            <div id="updated-before-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>
            <div class="govuk-date-input" id="updated-before">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="updated-before-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="updated-before-day"
                    name="updated-before-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="updated-before-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="updated-before-month"
                    name="updated-before-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="updated-before-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="updated-before-year"
                    name="updated-before-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-form-group {% if form.company_number.errors %}govuk-form-group--error{% endif %}">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Status
                </h2>
              </legend>
              <div id="status-hint" class="govuk-hint govuk-!-font-size-14">
                1 selected
              </div>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox"
                    value="employment-tribunal">
                  <label class="govuk-label govuk-checkboxes__label" for="status">
                    Active
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="MOD">
                  <label class="govuk-label govuk-checkboxes__label" for="status-2">
                    Not active
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="DfT">
                  <label class="govuk-label govuk-checkboxes__label" for="status-3">
                    Superseded
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Regulators
            </span>
          </summary>
          <div class="govuk-details__text">
            Regulators filter here
          </div>
        </details>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Topics
            </span>
          </summary>
          <div class="govuk-details__text">
            Topics filter here
          </div>
        </details>

      </form>

    </div>
    <div class="govuk-grid-column-two-thirds">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      {% if results %}
      <div class="govuk-summary-list">
        <p class="govuk-body-m">
          {{ results|length }} matches found.
        </p>
        {% for result in results %}
        <div class="govuk-summary-list__row--no-border">
          <h2 class="govuk-heading-m">
            <a href="/company/{{ result.company_number }}/reports" class="govuk-link">
              {{result.title}}
            </a>
            ({{result.number_of_reports}} reports)
          </h2>
          <p class="govuk-body-m">
            Company Number: {{ result.company_number }} <br> {{ result.address_snippet }}
          </p>
        </div>
        {% endfor %}
      </div>
      {% else %}
      {% if form.is_bound %}
      <p class="govuk-body-l govuk-!-font-weight-bold">
        We didn't find any regulations for that search.
      </p>
      <p class="govuk-body-m">
        Please try searching again using different search terms.
      </p>
      {% endif %}
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}