{% extends "base.html" %}

{% load render_bundle from webpack_loader %}

{% block head_title %}{{service_name}}{% endblock %}
{% block service_name %}{{service_name}}{% endblock %}

{% block body_content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
          Find laws and regulations for business
        </h1>
        <p class="govuk-body-s govuk-!-margin-bottom-7">
          From:
          <a href="#" class="govuk-link govuk-link--no-visited-state"
            >Department for Business and Trade</a
          >
        </p>
        <p class="govuk-body"></p>
        <p class="govuk-body">
          Find information to help UK businesses follow regulations.
        </p>
        <p class="govuk-body">
          This finder includes UK legislation, guidance from regulators and
          government and industry standards from the British Standards
          Institute.
        </p>
        <p class="govuk-body">
          Search using keywords or use the filters to search by the publishing
          organisation, document types or regulatory area.
        </p>
        <p class="govuk-body govuk-!-margin-bottom-9">
          You can also use this dataset and its metadata as an application
          programming interface (API).
        </p>
        <noscript>
          <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">
                The enhanced search used by this application is unavailable
                when JavaScript is turned off.
              </p>
              <p class="govuk-notification-banner__heading">
                If you cannot enable JavaScript, you can use the
                <a class="govuk-notification-banner__link" href="/">unenhanced search</a> instead.
              </p>
            </div>
          </div>
        </noscript>
      </div>
    </div>
    <div id="orp-react-app"></div>
  </main>
</div>
{% endblock %}

{% block js_bundles %}
{% render_bundle "main" "js" %}
{% render_bundle "react" "js" %}
{% endblock %}
