<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Find business regulations and guidance</h1>
    <p class="govuk-body-s govuk-!-margin-bottom-7">From: <a href="#"
        class="govuk-link govuk-link--no-visited-state">Department for Business
        and Trade</a></p>
    <p class="govuk-body">Find information to help UK businesses follow regulations.</p>
    <p class="govuk-body">Search to find links to regulatory content from government and regulators, including standards, guidance and legislation.</p>
    <p class="govuk-body">Search using keywords or use filters to search by document type or publishing organisation.</p>
    <p class="govuk-body govuk-!-margin-bottom-9">You can also use this dataset and its metadata as an application
      programming interface
      (API).</p>
  </div>
</div>
