<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
                <p class="govuk-body">Try again later.</p>
                <p class="govuk-body">Email
                    <a href="mailto:{{contact_email}}"
                        class="govuk-link govuk-link--no-visited-state">{{contact_email}}</a> if you need help or advice.
                </p>
            </div>
        </div>
    </main>
</div>
